/*
Aqui escribe tu codigo de CSS.
*/
body{
    padding: 10px;
    height: 10%;
}

.logo{
    float: left;
    width: 280px;
    border-top-color: blue;
    margin-bottom: 20px;
}

.right{
    text-align: right;
    line-height: 10px;
    font-family: Arial;
}

.featured{
    color: #8C7B76;
    font-family: Arial;
}

td{
    width:800px;
    height:350px;
    font-family: arial;
    text-align: center;/*centering text*/
}

.inventory{
    background-color: #C623D8;
}

.portfolio{
    background-color: #DF0041;
}

.battle{
    background-color: #B0E78E;
}

.register{
    background-color: #0040ff;
}

.countries{
    background-color: #ff6600;
}

.guess{
    background-color:  #00b300;
}

.factorial{
    background-color: #cccc00;
}

.babosaC{
    width: 95%;
    height: 85%;
    border-radius: 20px;

}
.test {
    margin: auto;
    width: 90%;
    height: 70%;
    border-radius: 20px;
    padding: 10px 10px;
    margin-left: 5%;
    top:50%;
}

.name{
    text-align: center;
    bottom: 0px;
    color: black;
}

.subName{
    text-align: center;
    bottom: 0px;
    color:#008EC7;
}

.textOnBox{
    color: white;
    padding-top: 10%;
    top:50%;
    font-size: 45px;
}

span {
    font-size: 20px;
}

a:link {
    text-decoration:none;
}

a{
    color: #008EC7;
}
